@{
    Layout = "_MyLayout";

}

<div>

    <section id="hero">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 order-2 order-lg-2 hero-img" data-aos="fade-right">
                    <img src="assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
                <div class=" col-lg-6 py-5 py-lg-0 order-1 order-lg-1" data-aos="fade-left">
                    <h1 style="text-align: center;">EPEL Projects</h1>
                    <h1 style="text-align:center;">مقاولات سقالات خدمات لوجيستية</h1>
                    <a href="#about" class="btn-get-started scrollto">تتبع الشحنة</a>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->

    <section id="clients" class="clients section-bg">
        <div class="container">
            <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="client-logo">
                        <img src="/assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="flip-right">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="client-logo">
                        <img src="/assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="client-logo">
                        <img src="/assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="client-logo">
                        <img src="/assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="client-logo">
                        <img src="/assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="client-logo">
                        <img src="/assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Clients Section -->

    <section id="about" class="about section-bg">
        <div class="container">
            <div class="row gy-4">
                <div class="image col-xl-5"></div>
                <div class="col-xl-7">
                    <div class="content d-flex flex-column justify-content-center ps-0 ps-xl-4">
                        <h3 data-aos="fade-in" data-aos-delay="100" style="text-align: right;">عن الشركة</h3>
                        <p data-aos="fade-in" style="text-align: right;">
                            هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من
                        </p>
                        <div class="row gy-4 mt-3" style="text-align: right;">
                            <div class="col-md-6 icon-box" data-aos="fade-up">
                                <i class="bx bx-box"></i>
                                <h4><a href="#">نقل داخلي</a></h4>
                                <p>هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-buildings"></i>
                                <h4><a href="#">مقاولات</a></h4>
                                <p>هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bi bi-building"></i>
                                <h4><a href="#" class="text_bottom">سقالات</a></h4>
                                <br>
                                <p>هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bi bi-truck"></i>
                                <h4><a href="#" class="text_bottom">خدمات لوجيستية </a></h4>
                                <br>
                                <p> هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <br>
        <br>
        <br>
    </section>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>تتبع الشحنه</h3>
                        <p>
                            استخدم خيارات تتبع الشحنات المتاحة لأجهزة الجوال والكمبيوتر الشخصي لديك. احصل على الإشعارات عند يتم تحديد موعد للاستلام أو عندما يتم توصيل شحنة، واستلم تحديثات بشأن حالة شحنتك في أي وقت.
                            .
                        </p>
                    </div>
                </div>

                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="text" name="orderno" placeholder="ادخل رقم الشحنه"><input type="submit" value="تتبع الشحنة">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section id="services" class="services section-bg">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-in">خدمات</h2>
            <p data-aos="fade-in">
                هو ببساطة نص شكلي (بمعنى
                أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع
                ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
                القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف
                بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
                شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص،
                بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني..
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex" data-aos="fade-right">
                <div class="card">
                    <div class="card-img">
                        <img src="/assets/img/services-1.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Temporibus laudantium</a></h5>
                        <p class="card-text">
                            أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع
                            ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
                        </p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> أقرا المزيد</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="fade-left">
                <div class="card">
                    <div class="card-img">
                        <img src="/assets/img/services-2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Aperiores voluptates</a></h5>
                        <p class="card-text">
                            أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع
                            ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
                        </p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> أقرا المزيد</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="fade-right">
                <div class="card">
                    <div class="card-img">
                        <img src="/assets/img/services-3.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Veritatis natus nisi</a></h5>
                        <p class="card-text">
                            أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع
                            ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
                        </p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> أقرا المزيد</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="fade-left">
                <div class="card">
                    <div class="card-img">
                        <img src="/assets/img/services-4.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Aliquam veritatis</a></h5>
                        <p class="card-text">
                            أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع
                            ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
                        </p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> أقرا المزيد</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">الرؤية و الرسالة</h2>
            <p data-aos="fade-in">
                هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي
                منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي
                أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.
                خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار
                مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني.
            </p>
        </div>
        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="/assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" data-aos="fade-left">
                <h3>
                    هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                </h3>
                <p>
                    هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                    .
                </p>
                <ul>
                    <li>
                        <i class="bi bi-check"></i>               هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                        .
                    </li>
                    <li>
                        <i class="bi bi-check"></i>               هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                        .
                    </li>
                    <li>
                        <i class="bi bi-check"></i>              هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                        .
                    </li>
                </ul>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="/assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3>ما هو "لوريم إيبسوم" ؟</h3>
                <p class="fst-italic">
                    هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                    ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي
                    منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي
                    .
                </p>
                <p>
                    هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                    ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي
                    منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي
                    أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.
                    خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار
                    مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني.
                </p>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Team</h2>
            <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up">
                    <div class="pic"><img src="/assets/img/team/team-1.jpg" alt=""></div>
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="pic"><img src="/assets/img/team/team-2.jpg" alt=""></div>
                    <h4>Sarah Jhinson</h4>
                    <span>Product Manager</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="pic"><img src="/assets/img/team/team-3.jpg" alt=""></div>
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="pic"><img src="/assets/img/team/team-4.jpg" alt=""></div>
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Team Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>تواصل معنا</h2>
            <p>هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص.</p>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box" data-aos="fade-up">
                            <i class="bx bx-map"></i>
                            <h3>عنوان</h3>
                            <p>208 الدقى , الجيزه, NY 535022</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-envelope"></i>
                            <h3>الايميل</h3>
                            <p>info@example.com<br>contact@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-phone-call"></i>
                            <h3>اتصل بنا</h3>
                            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="الاسم" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="البريد الالكتروني" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="العنوان" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="محتوى الرسالة" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">ارسال رساله</button></div>
                </form>
            </div>

        </div>

    </div>
</section>
</div>

