
<div>
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>المراكز</h2>
                <ol>
                    <li><a href="index.html">الرئيسية</a></li>
                    <li>  المراكز  </li>
                </ol>
            </div>

        </div>
    </section>
    <section>

        <form>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="city"> المركز  </label>
                            <input type="text" class="form-control" id="city">
                        </div>
                        <div class="form-group">
                            <label for="gov"> المحافظة  </label>
                            <select class="form-control" id="gov">
                                <option>اسيوط</option>
                                <option>المنيا</option>
                                <option>سوهاج</option>
                                <option>القاهرة</option>
                                <option>اسكندرية</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <br><br><br><br>
                        <button class="btn btn-primary" type="submit" value="تسجيل">حفظ</button>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th> م </th>
                                    <th style="width:400px"> المركز </th>
                                    <th style="width:400px"> المحافظة </th>
                                    <th>  </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 1 </td>
                                    <td>ابنوب</td>
                                    <td>  اسيوط </td>
                                    <td> <button type="button" value="delete" class="btn btn-danger">حذف</button></td>
                                </tr>
                                <tr>
                                    <td> 2 </td>
                                    <td>ابنوب</td>
                                    <td> اسيوط </td>
                                    <td> <button type="button" value="delete" class="btn btn-danger">حذف</button></td>
                                </tr>
                                <tr>
                                    <td> 3 </td>
                                    <td>ابنوب</td>
                                    <td> اسيوط </td>
                                    <td> <button type="button" value="delete" class="btn btn-danger">حذف</button></td>
                                </tr>
                                <tr>
                                    <td> 4 </td>
                                    <td>ابنوب</td>
                                    <td> اسيوط </td>
                                    <td> <button type="button" value="delete" class="btn btn-danger">حذف</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>